<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/script/script.js"></script>


</head>

<body>
    <div class="container">
        
        <h1> Dino Buddies </h1>
            <div id='groups'>

            </div>
        </h1>
        
        <form action="/new_group" method="post">
            <div class="form-group">
                <label for="new_Group">Add another group: </label>
                <input id="group_name" type="text" name="name" value="">
                <input type="submit" value="OK">
            </div>
        </form>
    </div>

    <script>
        const group_container = document.getElementById('groups');
        // you have to stringify initally then parse. IDK why.
        let groups = '<%- JSON.stringify(data.groups) %>';
        groups = JSON.parse(groups)
        // prints the groups name to the page as a list
       groups.forEach(content => { 
            console.log(content)
            let element = document.createElement('ul');
            let list = document.createElement('li');
            let text = document.createTextNode(content.name);
            element.append(text);
            for(let i = 0; i < content.rooms.length; i ++){
                let subElement = document.createElement('ul');
                let sublist = document.createElement('li');
                subElement.appendChild(sublist);
                let subtext = document.createTextNode(content.rooms[i]);
                sublist.appendChild(subtext);
                element.appendChild(subElement)
            }
            group_container.append(element)
        });
        
    </script>
    
</body>
</html>